/* Body Styling */

body {
    background-color: #eee;
}

.heading {
    text-align: center;
    font-weight: bold;
    float: none;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    border: 1px solid #d9d9d9;
    margin-left:75px;
    margin-right:75px;
    margin-top:10px;
}

.section-background {
    background-color: white;
}

.selector-heading {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.selector {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.bar-chart-heading {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.bar-chart {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pie-chart-heading {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pie-charts {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.bar-chart-heading-per-equity {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
